@import 'font-awesome.css';

html, body {
  width: 100%;
  font-size: 100%;
  color: #333333;
  line-height: 1.4;
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

.esrscanner {
  font-family: -apple-system-body, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

.full-width {
  width: 100%;
}

.txt-big {
  font-size: 1.5rem;
  line-height: 1.3;
}
.txt-small {
  font-size: 0.9rem;
  line-height: 1;
}

.txt-grey {
  color: rgb(148, 148, 151);
}
.txt-yellow {
  color: #d3d600;
}

.brd-bottom-grey {
  border-bottom: rgb(200, 199, 204) solid 1px;
}

.no-cellspacing {
  border-spacing: 0;
  border-collapse: collapse;
}

.phh {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.ptn {
  padding-top: 0;
}

.prs {
  padding-right: 0.2rem;
}
.pls {
  padding-left: 0.2rem;
}

.mlm {
  margin-left: 0.6rem;
}

.mbm {
  padding-bottom: 0.6rem;
}

.f-left {
  float: left;
}
.f-right {
  float: right;
}

.copyable {
  color: inherit;
  text-decoration: none;
}
.copyable:hover .fa {
  display: inline-block;
}

.dis-hidden {
  display: none;
}
.dis-inline {
  display: inline;
}

.pos-relative {
  position: relative;
}

a.tooltip-link span.tooltip {
  position: absolute;
  padding: 0 1rem;
  color: #FFFFFF;
  background: #000000;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
.tooltip-link span.tooltip:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltip-link span.tooltip {
  visibility: visible;
  opacity: 0.8;
  z-index: 999;
}
